$mono_color01: #ffffff;
$mono_color02: #fafafa;
$mono_color03: #eeeeee;
$mono_color04: #dddddd;
$mono_color05: #aaaaaa;
$mono_color06: #999999;
$mono_color07: #434a54;
$mono_color08: #333333;
$blue_color01:#38aef0;
$blue_color02:#384a62;
$blue_color03:#2f3e51;
$blue_color04:#253141;
